<mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>

    <form autocomplete="off">
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="produto.nome" name="nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [value]="produto.preco" name="preco" disabled>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="apagarProduto()" color="accent">Apagar</button>
    <button mat-raised-button (click)="cancelar()">Cancelar</button>
</mat-card>