<mat-card>
    <mat-card-title>Editar Produto</mat-card-title>

    <form autocomplete="off">
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="produto.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="produto.preco" name="preco">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="editarProduto()" color="primary">Editar</button>
    <button mat-raised-button (click)="cancelar()">Cancelar</button>
</mat-card>